.amo-plus, div[data-code^="amo_plus"] {
  background: #58a691;
}

.ap__widgetBlock {
  margin-top: 10px;
  padding: 10px;
  position: relative;
  cursor: default;
  background: white;
  border-radius: 3px;
  h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 3px;
  }
  .ap__widgetTitle {
    cursor: pointer;
    margin: 0;
  }
  .ap__toggleButton {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 12px;
    text-align: center;
    &.open:before {
      content: '-';
    }
    &:before {
      content: '+';
      border: 1px solid #58a691;
      display: inline-block;
      width: 16px;
      line-height: 16px;

      color: #58a691;
      border-radius: 50%;
      font-size: 18px;
      padding-top: 1px;
    }
  }
  .ap__funnelSelect {
    margin: 5px 0 0;
  }
  .ap__saveButton {
    margin-top: 10px;
  }
  label{
    font-size: 14px;
  }
}

.ap__FieldsTemplate{
  li{
    margin-top: 5px;
  }
  #field-template{
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    background: linear-gradient(to bottom,#fcfcfc 0%,#f8f8f9 100%);
  }
}

.ap__laborCost {
  table {
    margin-top: 5px;
    width: 100%;
    line-height: 1.4;
    th {
      width: 70%;
      text-align: left;
      padding: 0 10px 0 0;
    }
    td {
      width: 30%;
      text-align: right;
    }

  }
}

.ap__widgetContent{
  a {
    color: #58a691;
    &:hover{
      text-decoration: none;
    }
  }
}