@import "../core/vendor/zurb/foundation/scss/foundation";
$global-font-size: rem-calc(12);
@include table-hover;
@include foundation-table;

body{
  font-family: Helvetica, Arial, sans-serif;
  table{
    font-size: 14px;
  }
}